:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.poster img {
    box-shadow: 5px 5px 5px #888888;
}

.close-button {
    border: 2px solid black;
    cursor: pointer;
    font-size: 32px;
    padding: 0.1em 0.25em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.details {
    max-width: calc(100vw - 550px - 2em);
    padding: 2em;
}
