<div style="vertical-align: middle;">
    <button class="close-button" (click)="handleClose()"><span class="fas fa-arrow-left"></span></button>
    <h2 class="title">{{movie?.title}}</h2>
    <div title="{{movie.vote_average / 2 }}" style="display: inline-block; padding-left: 1em;">
        <span class="fas fa-star" *ngFor="let star of stars"></span>
        ({{movie.vote_average / 2}})
    </div>
</div>
<div class="flex-row" style="justify-content: flex-start">
    <div class="poster flex-col">
        <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" />
    </div>
    <div class="details flex-col">
        <div class="overview">
            {{movie?.overview}}
        </div>
    </div>
</div>
