app-movie-details {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(100vw);
    transition: transform 1s;
}
app-movie-details.active {
    transform: translateX(0);
}

.movie-container {
    margin: 0 auto;
    transform: translateX(-100vw);
    transition: transform 1s;
}
.movie-container.active {
    transform: translateX(0);
}

.movie {
    border: 2px solid transparent;
    cursor: pointer;
    padding: 1em;
    user-select: none;
}

.movie h2 {
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.movie .overview {
    margin: 0 auto;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.poster {
    text-align: center;
}
.poster img {
    box-shadow: 10px 10px 30px #111111;
}

