<!-- The app-movie-details component displays the movie after it's been selected -->
<app-movie-details
    [class]="(selectedMovie$ | async) ? 'active' : ''"
    (close)="handleClose()"
    [movie]="(selectedMovie$ | async)">
</app-movie-details>

<!--
    This block displays the list of movies to choose from.  Don't let some of the
    Angular syntax here overwhelm you - we'll go over that in another training.

    But, a quick explanation of what's going on here:

    1.  The *ngIf on the first <div> ensures that the <div> is
        only displayed after search results have been found.
    2.  The *ngFor on the second <div> is a for loop.  The <div> element
        is created over and over for each movie in the list.
-->
<div
    [class]="'movie-container flex-row' + ((selectedMovie$ | async) ? '' : ' active')">
    <div
        *ngFor="let movie of searchResults$ | async; let i = index;"
        (click)="handleClick(movie)"
        class="movie flex-col"
        tabindex="{{i + 1}}"
        title="{{movie.title}}">
        <!-- If there's a poster image, display it -->
        <div *ngIf="movie.poster_path" class="poster">
            <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" />
        </div>
    </div>
</div>
